<a href="https://colab.research.google.com/github/onsandomaynard/hello-world/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2021_09_Maynard_Onsando_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [114]:
#In this week's independent project, you will be working as a data scientist working for an electric car-sharing service company. You have been tasked to process stations data to understand electric car usage over time by solving for the following research question;

In [ ]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd

# Importing the numpy library
#
import numpy as np

In [89]:
# Loading our table from the respective CSV files
# We will export the dataset that we have cleaned using python
#
# Read data from file 'Percentage_Distribution_of_Population_by_type_of_Disability_County_Estimates2005_6.csv' 
data = pd.read_csv("/content/Autolib_dataset (2).csv") 
# Preview the first 5 lines of the loaded data 
data.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [90]:
# Let's preview the first 10 rows of our data
# 
data.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [91]:
# Getting to know more about the dataset by accessing its information
# 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [92]:
data.describe()

              Cars  Bluecar counter  ...         hour       minute
count  5000.000000      5000.000000  ...  5000.000000  5000.000000
mean      2.333600         2.333600  ...    11.509200    29.270000
std       2.035274         2.035274  ...     6.893549    17.231741
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

In [93]:
#Joining our year,month,day,hour,minute,columns
data['date'] = pd.to_datetime(data[['year','month','day','hour','minute']])
data['date_joined'] = data['date'].dt.strftime('%Y:%m:%d:%H:%M')
data

                                 Address  ...       date_joined
0                    2 Avenue de Suffren  ...  2018:04:08:11:43
1              145 Rue Raymond Losserand  ...  2018:04:06:07:24
2       2 Avenue John Fitzgerald Kennedy  ...  2018:04:03:20:14
3                 51 Rue EugÃ¨ne OudinÃ©  ...  2018:04:04:04:37
4     6 avenue de la Porte de Champerret  ...  2018:04:08:17:23
...                                  ...  ...               ...
4995                 8 avenue MÃ©nelotte  ...  2018:04:06:11:26
4996                   37 rue de Dantzig  ...  2018:04:04:16:56
4997                      142 rue du Bac  ...  2018:04:01:07:01
4998         2 avenue du Val de Fontenay  ...  2018:04:04:17:27
4999                 5 Rue Henry Brisson  ...  2018:04:08:10:02

[5000 rows x 27 columns]

In [94]:
#Dropping of columns
data.drop(['Slots','Displayed comment','ID','Geo point','Public name','Scheduled at','year','month','day','hour','minute','date'], axis=1, inplace=True)

In [95]:
data.head(5)

                              Address  ...       date_joined
0                 2 Avenue de Suffren  ...  2018:04:08:11:43
1           145 Rue Raymond Losserand  ...  2018:04:06:07:24
2    2 Avenue John Fitzgerald Kennedy  ...  2018:04:03:20:14
3              51 Rue EugÃ¨ne OudinÃ©  ...  2018:04:04:04:37
4  6 avenue de la Porte de Champerret  ...  2018:04:08:17:23

[5 rows x 15 columns]

In [109]:
#Look for missing value
np.count_nonzero(data.isnull())

0

In [105]:
#De-Duplicate to remove all duplicate values using data.duplicated()
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

In [122]:
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
#
#
data[['Bluecar counter','date_joined','City']] [data['Status'] == 'ok'].value_counts()

Bluecar counter  date_joined       City
0                2018:04:07:20:14  Paris                 3
                 2018:04:03:19:12  Paris                 2
5                2018:04:05:19:34  Paris                 2
0                2018:04:08:23:45  Paris                 2
                 2018:04:03:03:11  Paris                 2
                                                        ..
4                2018:04:01:16:19  Fontenay-aux-Roses    1
                 2018:04:01:16:02  Ville-d'Avray         1
                 2018:04:01:15:31  Le Chesnay            1
                 2018:04:01:14:44  Paris                 1
0                2018:04:01:00:00  Paris                 1
Length: 4570, dtype: int64

In [128]:
#What is the most popular hour for returning cars?
#overall
data[['Cars','date_joined']][data['Charge Slots'] == False].value_counts()

Cars  date_joined
2     2018:04:03:09:40    3
5     2018:04:06:01:59    3
3     2018:04:02:00:01    3
0     2018:04:01:13:13    3
5     2018:04:07:08:27    2
                         ..
4     2018:04:03:13:18    1
      2018:04:03:13:03    1
      2018:04:03:13:00    1
      2018:04:03:12:57    1
0     2018:04:01:00:00    1
Length: 3898, dtype: int64

In [127]:
#At most popular picking hour
data[['Cars','date_joined']] [data['Status'] == 'ok'].max()

Cars                          7
date_joined    2018:04:09:23:58
dtype: object

In [ ]:
#What station is the most popular?
data[['Station type']] [data['Charging Status'] == 'operational'].value_counts()

Station type
station         1863
full_station     132
dtype: int64

In [130]:
#At the most popular picking hour?
data[['Station type','date_joined']] [data['Status'] == 'ok'].max()

Station type         subs_center
date_joined     2018:04:09:23:58
dtype: object

In [ ]:
#What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
#overall
data[['Postal code']][data['Bluecar counter'] == True].value_counts()

Postal code
75015          39
75017          36
75013          36
75019          34
75016          30
               ..
92400           1
93500           1
93370           1
91400           1
95880           1
Length: 85, dtype: int64

In [131]:
#At the most popular picking hour?
data[['Postal code','date_joined']][data['Bluecar counter'] == True].max()

Postal code               95880
date_joined    2018:04:09:23:14
dtype: object

In [132]:
##Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?
#Identify the most popular hour of the day for picking up a Utilib and Utilib 1.4 in the city of Paris over the month of April 2018.
data[['Utilib counter','date_joined','City']] [data['Status'] == 'ok'].value_counts()
#does not change

Utilib counter  date_joined       City
0               2018:04:06:05:52  Paris               4
                2018:04:05:23:30  Paris               3
                2018:04:09:13:34  Paris               3
                2018:04:08:23:45  Paris               3
                2018:04:08:11:07  Paris               3
                                                     ..
                2018:04:07:07:26  Paris               1
                2018:04:07:07:25  Paris               1
                2018:04:07:07:23  Paris               1
                2018:04:07:07:09  Nogent-sur-Marne    1
                2018:04:01:00:00  Paris               1
Length: 4396, dtype: int64

In [134]:
#does not change
data[['Utilib 1.4 counter','date_joined','City']] [data['Status'] == 'ok'].value_counts()

Utilib 1.4 counter  date_joined       City
0                   2018:04:06:05:52  Paris     4
                    2018:04:08:11:07  Paris     3
                    2018:04:05:17:20  Paris     3
                    2018:04:06:15:07  Paris     3
                    2018:04:07:20:14  Paris     3
                                               ..
                    2018:04:07:19:59  Yerres    1
                    2018:04:07:19:48  Paris     1
                    2018:04:07:19:43  Paris     1
                    2018:04:07:19:39  Paris     1
                    2018:04:01:00:00  Paris     1
Length: 4418, dtype: int64

In [ ]:
 #What postal code is the most popular for picking up Utilib and Utilib 1.4 cars? Does the most popular station belong to that postal code?
#overall
#changes
 data[['Postal code']][data['Utilib counter'] == True].value_counts()

Postal code
75017          20
75016          20
75015          14
75020          13
75013          12
               ..
93400           1
93440           1
92410           1
78140           1
95880           1
Length: 75, dtype: int64

In [ ]:
#changes
data[['Postal code']][data['Utilib 1.4 counter'] == True].value_counts()

Postal code
75017          32
75015          25
75019          25
75016          25
75014          21
               ..
93200           1
93500           1
92120           1
75112           1
95880           1
Length: 85, dtype: int64

In [135]:
#At the most popular picking hour?
#does not change
data[['Postal code','date_joined','Utilib counter']][data['Status'] == 'ok'].max()

Postal code                  95880
date_joined       2018:04:09:23:58
Utilib counter                   2
dtype: object

In [136]:
#does not change
data[['Postal code','date_joined','Utilib 1.4 counter']][data['Status'] == 'ok'].max()

Postal code                      95880
date_joined           2018:04:09:23:58
Utilib 1.4 counter                   3
dtype: object